body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to left, #1029e6, #ccde2a);
}

.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
}

button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.double {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 15px;
  word-wrap: break-word;
  word-break: break-all;
}

.last {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}
.current {
  color: rgba(255, 255, 255);
  font-size: 1.5rem;
}
